{% extends "base.html" %}
{% block title %}Pixare - 分享精彩生活{% endblock %}
{% block content %}
<head lang="en">
  <meta charset="UTF-8">
  <style>
    .d1{margin:0 auto;width:130px;height:50px; }
    .d2{margin:0 auto;width:250px;height:80px; }
  </style>
</head>
<body>
<div class="am-g">
  <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
      <div class="d1" style="font-size:40px">Pixare</div>
      <div class="d2" style="font-size:20px">注册Pixare,分享精彩生活</div>

    <form method="post" class="am-form">
      <label for="email">用户名:</label>
      <input type="email" name="" id="email" value="">
      <br>
      <label for="password">密码:</label>
      <input type="password" name="" id="password" value="">
      <br>
      <label for="password_confirm">确认密码:</label>
      <input type="password" name="" id="password_confirm" value="">
      <br>
      <br />
      <div class="am-cf">
          <input type="button" value="注册"class="am-btn am-btn-primary am-btn-block">
      </div>
    </form>
    <hr>
  </div>
</div>
</body>

{% endblock %}